<?xml version="1.0"?>
<phpunit
  bootstrap="tests/bootstrap.php"
  backupGlobals="false"
  colors="true"
  convertErrorsToExceptions="true"
  convertNoticesToExceptions="true"
  convertWarningsToExceptions="true"
>
  <testsuites>
    <testsuite name="Default">
      <directory prefix="test-" suffix=".php">./tests/</directory>
    </testsuite>
  </testsuites>

  <filter>
    <whitelist processUncoveredFilesFromWhitelist="true">
      <file>./neuralab-wc-wspay.php</file>
      <directory prefix="class-" suffix=".php">./includes</directory>
      <exclude>
        <directory suffix=".php">./tests/vendors/</directory>
      </exclude>
    </whitelist>
  </filter>
  <logging>
    <log type="coverage-text" target="php://stdout" showUncoveredFiles="true"/>
  </logging>
</phpunit>
